@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=LXGW+WenKai+Mono+TC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Base styles */
body {
    font-family: Poppins, Segoe UI, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.tabs {
    display: block;
    float:left;
    position: fixed;
    top: 10px;
}

.new {
border: 1px solid red;
border-radius: 5px;
background-color: red;
font-size: 18px;
}

.error {
color: red;
}

.error-box {
color: red;
}

.warning {
color: orange;
border: 1px solid red;
border-radius: 5px;
background-color: red;
font-size: 18px;
}

.settings-edit a {
text-decoration: none;
font-size: 15px;
color: #fff;

}

.settings-edit a:hover {
text-decoration: none;

}
.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 20px auto;
}

h1 {
font-family: 'Bungee Spice';

}

h2, h3 {
    font-family: Poppins, Segoe UI, sans-serif;
    color: #333333;
    margin-bottom: 10px;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}



.active {
    background-color: #a25fcc !important;
}

.chatBox {
    border: 1px solid #ccc;
    padding: 10px;
    min-height: 200px;
    max-height: 400px;
    overflow-y: auto;
    background: linear-gradient(to bottom, #f9f9f9, #e6e6e6);
    border-radius: 4px;
    margin-bottom: 10px;
}

form {
    margin-top: 10px;
}

textarea {
    width: calc(100% - 22px);
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
}

button[type="submit"], button {
    font-family: Poppins, Segoe UI, sans-serif;
    padding: 10px 20px;
    background-color: #a25fcc;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    margin: 3px;
}

button[type="submit"]:hover, button:hover {
    background-color: #0056b3;
}

.server-name { 
    font-family: 'Montserrat';
}

@media screen and (max-width:600px) {
    .container {
        padding: 10px;
        max-width: 100%;
        background-color: transparent;
        border:0px solid transparent;
        border-style: none;
        box-shadow: none;
    }
    .tabcontent {
        background-color: transparent;
    }
    button[type="submit"], button {
        font-family: Poppins, Segoe UI, sans-serif;
        padding: 5px 10px;
        background-color: #a25fcc;
        color: white;
        border: none;
        cursor: pointer;
        border-radius: 4px;
        transition: background-color 0.3s ease;
        margin: 3px;
        font-size: 20px;
    }

    button[type="submit"]:hover, button:hover {
        background-color: #0056b3;
    }

    a {
        font-size: 20px;
    }

}

/*@media screen and (max-width: 600px) {
    .container {
        padding: 10px;
        max-width: 100%;
    }
}*/

input[type=text], input[type=password] {
    padding: 10px 20px;
    background-color: inherit;
    color: black;
    border: 1px solid #007bff;
    cursor: pointer;
    border-radius: 4px;
}

/* Accent colors: Red and Purple */

.tablink {
    background-color: #ff5297;
    font-family: "LXGW WenKai Mono TC";
}

.tablink:hover {
    background-color: #c43e74;
}

.tabcontent {
    background: transparent;
    border-color: #ff5297;
}

.chatBox {
    background: linear-gradient(to bottom, #8d6bfc, #5e5ce6);
    border-color: #5e5ce6;
}

